/*@font-face {*/
/*  font-family: "tokyo";*/
/*  src: url("http://localhost/file/tokyo.ttf") ;*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

h1 {
  color: rgb(226, 226, 226);
  text-shadow: 1px 1px 4px #000;
}

html {
  background: #eee;
  background: linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));

}

body {
  background: #eee;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}

.one {
  position: relative;
  background-color: rgb(36, 164, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  background: #eee;
  background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
}

.two {
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(211, 79, 79);
  background: #a27bcc;
  background: radial-gradient(ellipse at center, #a27bcc 0%, #6c5299 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a27bcc', endColorstr='#6c5299', GradientType=1);
}

.three {
  margin: 0;
  background-color: mistyrose;
  position: relative;
  perspective: 800px;
  overflow: hidden;
}

.four {
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(191, 64, 191);
  background: #e74;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #190e14, #0d0d4b 30%, #c76075 80%, #e9b64b 95%);
  background-image: radial-gradient(circle at center bottom, #e9b64b, #c76075 15%, #0d0d4b 75%, #190e14 90%);

}

.foot {
  position: absolute;
  bottom: 8%;
  font-family: tokyo;
}

/* ============================================== mark page1
*/

nav ul {
  margin: 20px 20px 0 20px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav li a {
  display: block;
  width: 50px;
  text-align: center;
  color: #aaa;
  cursor: pointer;
}

nav li a:hover {
  color: #444;
}

nav li a.active {
  color: #4444ff;
}

#card {
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 300px;
  padding: 0;
  height: 400px;
  min-height: 300px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
}

#card .details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 20px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: color 2s ease;
}

#card .detail {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  padding: 16px 20px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: color 2s ease;
}

.thunder #card .details {
  color: #ddd;
}

#card .details .right {
  text-align: right;
}

#card .details #date {
  margin: 4px 0;
}

#card .details #summary {
  font-weight: 600;
  font-size: 22px;
}

#card .details .temp {
  font-size: 60px;
  line-height: 60px;
}

#card .details .temp span {
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  margin-left: 5px;
}

.weather {
  background-color: #DAE3FD;
  transition: background-color 2s ease;
}

.thunder .weather {
  background-color: #9FA4AD;
}

.rain .weather {
  background-color: #D8D8D8;
}

.sun .weather {
  background-color: #ccccff;
}

.weather #inner {
  background-color: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}

.weather .cloud {
  transition: fill 2s ease;
}

.weather #cloud1 {
  fill: #efefef;
}

.thunder .weather #cloud1 {
  fill: #9FA4AD;
}

.weather #cloud2 {
  fill: #E6E6E6;
}

.thunder .weather #cloud2 {
  fill: #8B8E98;
}

.weather #cloud3 {
  fill: #D5D5D5;
}

.thunder .weather #cloud3 {
  fill: #7B7988;
}

#outer,
#back {
  position: fixed;
  pointer-events: none;
}


/* ============================================== CAKE page2
*/

.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  scale: 2;
}

/* ============================================== BASE
  */
.cake:after {
  background: #ebe3e1;
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
}

/* ============================================== Candle
  */
.candle {
  background: #ffffff;
  border-radius: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 4px;
  margin-top: -8.33333333px;
  width: 10px;
  height: 3px;
}

.candles {
  background: #ffffff;
  border-radius: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 7px;
  margin-top: -8.33333333px;
  width: 3px;
  height: 20px;
  rotate: 30deg;
}

.candles:after,
.candles:before {
  background: rgba(0, 0, 255, 0.4);
  content: "";
  position: absolute;
  width: 140%;
  margin-left: -0.5px;
  height: 2.22222222px;
  rotate: -30deg;
}

.candles:after {
  top: 23%;
  left: 0;
}

.candles:before {
  top: 45%;
  left: 0;
}

.velas {
  background: #ffffff;
  border-radius: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -8.33333333px;
  width: 4px;
  height: 16.66666667px;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
  */
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.33333333px;
  width: 6.66666667px;
  height: 12.5px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
  animation: fuego 2s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
  animation: fuego 1.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
  animation: fuego 1s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
  animation: fuego 0.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
  animation: fuego 0.2s infinite;
}

/* ============================================== Animation Fire
  */
@-webkit-keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-20px) scale(0);
  }

  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}

@keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-20px) scale(0);
  }

  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}

/* ============================================== Frosting
  */
.cobertura {
  background: #ece7e3;
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.77777778px;
  margin-top: -5px;
  width: 55.55555556px;
  height: 12.5px;
  z-index: 10;
}

.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
}

.cobertura:after {
  top: 6.66666667px;
  right: 14.28571429px;
}

.cobertura:before {
  top: 10px;
  right: 9.09090909px;
}

/* ============================================== BIZCOCHO
  */
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.33333333px;
}

.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}

.bizcocho:after {
  top: 30%;
  left: 0;
}

.bizcocho:before {
  top: 60%;
  left: 0;
}


/* ============================================== mail page3
*/

.envelope {
  z-index: 2;
  position: absolute;
  width: 550px;
  height: 366.66667px;
  top: 50%;
  left: 50%;
  margin-top: -183.33333px;
  margin-left: -275px;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1s ease;
  font-family: "Allan", sans-serif;
  color: #1F1F1F;
  transform: scaleX(0.6) translateX(-35%);
}

.envelope .front,
.envelope .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px #fbc0b9eb;
}

.envelope .front {
  backface-visibility: hidden;
  cursor: pointer;
  display: table;
}

.envelope .front:focus {
  outline: none;
}

.envelope .front .stamp {
  transform: translate3d(0, 0, 1px);
  position: absolute;
  width: 80px;
  height: 80px;
  right: 10px;
  top: 10px;
  padding: 10px;
  background: radial-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px, #f6f6df 4px, #f6f6df);
  background-size: 20px 20px;
  background-position: -10px -10px;
}

.envelope .front .stamp:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 2px;
}

.envelope .front .mail {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.envelope .front .mail p {
  font-weight: bold;
  margin: 0;
}

.envelope .back .letter p {
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ff969f;
}

.envelope .front .mail p:first-child {
  font-size: 50px;
  line-height: 50px;
  color: #ff969f;
}

.envelope .front .mail p:last-child {
  font-size: 30px;
}

.envelope .back .letter p:nth-child(2) {
  font-size: 30px;
  color: black;
}

.envelope .back .letter p:nth-child(3) {
  font-size: 30px;
  color: #f57882;
  margin-top: 150px;
  float: right;
}

.envelope .back {
  transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.envelope .back .flip {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.envelope .back .flip:before {
  content: "";
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 0px 100px #f5c1bc52;
}

.envelope .back .top-flip:before,
.envelope .back .bottom-flip:before {
  width: 388.90873px;
  height: 388.90873px;
}

.envelope .back .top-flip {
  z-index: 5;
  transform-origin: top center;
}

.envelope .back .top-flip:before {
  transform-origin: top left;
  transform: rotate(-45deg);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.envelope .back .bottom-flip {
  z-index: 4;
}

.envelope .back .bottom-flip:before {
  transform-origin: left bottom;
  transform: rotate(45deg) translate(-15px, -15px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.envelope .back .left-flip:before,
.envelope .back .right-flip:before {
  width: 269.27249px;
  height: 269.27249px;
  top: -5px;
}

.envelope .back .left-flip {
  z-index: 3;
}

.envelope .back .left-flip:before {
  transform-origin: top left;
  transform: rotate(45deg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
}

.envelope .back .right-flip {
  z-index: 2;
}

.envelope .back .right-flip:before {
  right: 0;
  transform-origin: top right;
  transform: rotate(-45deg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
}

.envelope .back .letter {
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 530px;
  height: 346.66667px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 0px 1px 100px #fbc0b9eb;
}

.envelope .back .letter div {
  position: relative;
  margin-top: 25px;
}

.envelope .back .letter label {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
  top: -15px;
  transition: all 0.1s linear;
  color: #ADADAD;
}

.envelope .back .letter label.show {
  opacity: 1;
  top: -18px;
}

.envelope .back .letter label.focus {
  color: inherit;
}

.envelope .back .letter ::placeholder {
  color: #ADADAD;
}

.envelope .back .letter input[type=text],
.envelope .back .letter textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: #F6F6DF;
}

.envelope .back .letter input:focus,
.envelope .back .letter textarea:focus {
  outline: none;
}

.envelope .back .letter input,
.envelope .back .letter textarea {
  font-family: "Allan", sans-serif;
  font-size: 20px;
}

.envelope .back .letter input[type=text] {
  height: 33px;
}

.envelope .back .letter input[type=submit] {
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 5px 20px;
  background-color: #e7e1bc;
  margin: 0;
  transition: all 0.1s linear;
}

.envelope .back .letter input[type=submit]:hover {
  background-color: #DCD0AA;
}

.envelope .back .letter textarea {
  resize: none;
  height: 117.66667px;
  transform: scaleY(2);
}

.envelope.new {
  animation: new 1s forwards;
}

.envelope.open {
  animation: open 3s forwards;
}

.envelope.open .top-flip {
  animation: flip-open 1s 1s forwards;
}

.envelope.open .letter {
  animation: letter-out 1s 2s forwards;
}

.envelope.send {
  animation: send 4s forwards;
}

.envelope.send .top-flip {
  transform: rotateX(-180deg);
  z-index: -1;
  animation: flip-close 1s 1s forwards;
}

.envelope.send .letter {
  animation: letter-in 1s forwards;
}

@keyframes new {
  0% {
    left: 0%;
    margin-left: -550px;
  }

  100% {
    left: 50%;
    margin-left: -275px;
  }
}

@keyframes open {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0) scaleX(0.6) translateX(-35%) ;
  }

  33.333% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg)  scaleX(0.6) translateX(-35%);
    ;
  }

  66.666% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg) scaleX(0.6) translateX(-35%);
    ;
  }

  100% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg)  scaleX(0.6) translateX(-35%) ;
    ;
  }
}

@keyframes flip-open {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }

  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }

  100% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
}

@keyframes letter-out {
  0% {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }

  100% {
    transform: translate3d(0, -733.33333px, 0);
    box-shadow: 0 0px 30px -5px #fbc0b9eb;
  }
}

@keyframes send {
  0% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }

  25% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }

  50% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }

  75% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 50%;
    margin-left: -275px;
  }

  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 100%;
    margin-left: 20px;
  }
}

@keyframes flip-close {
  0% {
    transform: rotateX(-180deg);
    z-index: -1;
  }

  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }

  100% {
    transform: rotateX(0deg);
    z-index: 5;
  }
}

@keyframes letter-in {
  0% {
    transform: translate3d(0, -733.33333px, 0);
    box-shadow: inset 0 0px 30px -5px #a87e50, 0 0 20px -5px;
  }

  100% {
    transform: translate3d(0, 0, 0);
    box-shadow: inset 0 0px 30px -5px #b08c5b, 0 0 10px -5px;
  }
}



/*  page4
  */

canvas {
  cursor: crosshair;
  display: block;
}

div#beach,
canvas#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#beach {
  background-image: url(https://dl.dropbox.com/s/oe0oce2udq44bj5/beachsil2.png);
  /* background-size: cover; */
  background-position: bottom right;
  background-size: 1700px;
  background-repeat: no-repeat;
}

div#sea {
  background-color: blue;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: radial-gradient(circle at center top, #23485a, #0d0246);
}

.moon {
  position: absolute;
  top: 10%;
  right: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: inset 20px -10px 0 0 #b9b9b9;
}

.moon .crater1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -3px 1.5px 0 0 #aaa;
  top: 20px;
  right: 20px;
}

.moon .crater2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -1px 0.5px 0 0 #aaa;
  top: 45px;
  right: 50px;
}

.moon .crater3 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -1.5px 0.75px 0 0 #aaa;
  top: 60px;
  right: 25px;
}
